        canvas {
            position: absolute;
        }

        #constraint {
            position: absolute;
            pointer-events: none;
            opacity: 0;
            left: 20px;
            top: 20px;
            right: 20px;
            bottom: 20px;
        }

        #container {
            position: relative;
            width: 600px;
            height: 600px;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
            background: #333;
        }
